.modulo-camara {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #edf2f4;
}
.camara-header {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid red;
	background: #001d3d;
}

.camara-header-select {
	width: 400px;
	height: 30px;
	margin-left: 10px;
}

.camara-button {
	width: 150px;
	height: 30px;
	font-weight: 500;
	background: #e0e1dd;
	color: #343a40;
	margin-left: 10px;
}

.camara-button:hover {
	background: #FFFF;
	color: #f35b04;
}

.camara-message {
	margin-left: 10px;
	flex: 1;
	height: 100%;
	color: white;
	font-weight: 500;
	height: 30px;
}

.camara-displayer {
	flex: 1;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: space-around;
}
.camara-displayer-content {
/*	flex: 1;*/
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	border: 1px solid rgba(0, 0, 0, .1);
}

canvas {
	border: 1px solid red;
/*	width: 500px !important;*/
/*	height: 200px !important;*/
}