.mask-content {
  width: 640px;
  height: 480px;
	display: flex;
  justify-content: center;
	position: absolute;
}

.mask-content-side {
	height: 100%;
}

.mask-content-center {
	height: 100%;
	display: flex;
}

.mask-content-center button {
	font-size: 1.2em;
	color: #adb5bd;
	border: none;
}

.mask-content-center button:hover {
	color: #FFFF;
	border: 1px solid #FFFF;
}
