.picture-form-area {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
/*	border: 1px solid red;*/
}

.picture-form-elements {
	width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
/*	border: 1px solid;*/
}

.picture-form-element {
	width: 100%;
	display: flex;
	flex: 1;
/*	border: 1px solid;*/
}

.picture-element-name {
	width: 150px;
	font-weight: 500;
	display: flex;
	align-items: center;
/*	border: 1px solid;*/
}
.picture-element-disp {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
/*	border: 1px solid;*/
}

.picture-element-disp select {
	width: 300px;
	height: 90%;
	border: 1px solid gray;
}

.picture-element-disp input {
	width: 300px;
	height: 90%;
	border: 1px solid gray;
}

.picture-form-options {
	width: 100%;
	display: flex;
/*	align-items: center;*/
/*	align-content: space-around;*/
	justify-content: space-around;
}

.picture-form-options button{
	width: 150px;
	height: 35px;
	font-weight: 500;
	font-size: .9em;
	border: 1px solid gray;
}

.picture-form-options button:hover{
	background: black;
	color: white;
}

.picture-element-message {
	flex: 1;
	height: 35px;
	font-weight: 500;
	font-size: .8em;
	display: flex;
	align-items: center;
	justify-content: center;
/*	border: 1px solid red;*/
}