.picture-list-area {
	width: 80%;
	height: 95%;
	overflow: auto;
	border: 2px solid rgba(0, 0, 0, .2);
}

.picture-list-row {
	width: 100%;
	height: 40px;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.row-user-selected {
	border-bottom: 2px solid gray;
}

.picture-column-img {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
/*	border: 1px solid;*/
}
.picture-column-img img{
	width: 30px;
	height: 30px;
	border: 2px solid gray;
	border-radius: 15px;
}
.picture-column-info {
	flex: 5;
	display: flex;
	align-items: center;
	font-weight: 500;
	justify-content: center;
	user-select: text;
/*	border: 1px solid;*/
}
.picture-column-opts {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
/*	border: 1px solid;*/
}

.picture-column-opts button {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid gray;
	color: gray;
}

.picture-column-opts button:hover {
	color: #2b2d42;
	border: 1px solid #2b2d42;
}