.app-button-string{
	width: 150px;
	height: 35px;
	font-weight: 500;
	font-size: .9em;
	background: #e9ecef;
}

.app-button-string:hover{
	background: black;
	background: #343a40;

	color: white;
}

.app-button-string:disabled{
	background: none;
	color: gray;
	border: 1px solid rgba(0, 0, 0, 0.1);
}